@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 2) {
  #logo .logo-retina {
    display: inherit;
  }
  #logo .logo-retina + .logo-original {
    display: none;
  }

  .post-play-video {
    background-image: url("../img/icon-play@2x.png");
  }

  .carousel-nav-prev {
    background: url(../img/carousel-nav-prev@2x.png) no-repeat;
  }

  .carousel-nav-next {
    background: url(../img/carousel-nav-next@2x.png) no-repeat;
  }
}
